<!-- どのページでも表示したいHTMLはapplication.html.erbに書いておく -->
<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <!--ここにlink_toを使いリンクをlink_toはruby トップページのリンクを後日作成　7/26に作成  -->
        <%= link_to("トップページ", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("投稿一覧", "/posts/index") %>  
        </li>
        <li>
          <%= link_to("新規投稿", "/posts/new") %>
        </li>
      </ul>
    </header>
    
    <!-- 重要　各ビューファイルは以下のyieldに代入され、application.html.erbの一部となる -->
    <%= yield %>
  </body>
</html>